marimo>=0.23.6
wigglystuff
polars
scikit-learn
matplotlib>=3.7.2
numpy==1.25.1
Pillow==10.0.0
scipy==1.11.1
scikit-image
pandas
plotly>=5
kaleido
psutil
requests
sympy
tinyik
tornado
ipywidgets>=8.1.1,<9
ipyevents>=2.0.1
ipympl>=0.8.2
ipycanvas>=0.9.1
ipyleaflet
bqplot
